<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=pgdl63LQp5">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=pgdl63LQp5">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=pgdl63LQp5">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=pgdl63LQp5">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=pgdl63LQp5" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=pgdl63LQp5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=pgdl63LQp5">
<meta name="theme-color" content="#ffffff">

<script data-ad-client="ca-pub-1596929414044112" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>