<link rel="stylesheet" type="text/css" href="{{ site.cookieconsent.css | absolute_url  }}" />
<script src="{{ site.cookieconsent.js | absolute_url  }}"></script>
<script>
	function loadGAonConsent() {
		window.ga = window.ga || function () {
			(ga.q = ga.q || []).push(arguments)
		};
		ga.l = +new Date;
		ga('create', '{{ site.analytics.google.tracking_id }}', 'auto');
		ga('set', 'anonymizeIp', {{ site.analytics.google.anonymize_ip | default: false }});
		ga('send', 'pageview');
		var gascript = document.createElement("script");
		gascript.async = true;
		gascript.src = "https://www.google-analytics.com/analytics.js";
		document.getElementsByTagName("head")[0].appendChild(gascript, document.getElementsByTagName("head")[0]);
	}

	if (document.cookie.split(';').filter(function (item) {
			return item.indexOf('cookieconsent_status=allow') >= 0
		}).length) {
		loadGAonConsent();
	}

	window.addEventListener("load", function () {
		window.cookieconsent.initialise({
			"palette": {
				"popup": {
					"background": "#313451"
				},
				"button": {
					"background": "#4a4f79"
				}
			},
			"theme": "edgeless",
  			"position": "top",
			"static": true,
			"type": "{{ site.cookieconsent.type }}",
			"content": {
				"message": "{{ site.cookieconsent.content.message }}",
				"deny": "{{ site.cookieconsent.content.deny }}",
				"allow": "{{ site.cookieconsent.content.allow }}",
				"link": "{{ site.cookieconsent.content.link }}",
				"href": "{{ site.cookieconsent.content.href }}",
			},
			onStatusChange: function (status, chosenBefore) {
				var type = this.options.type;
				var didConsent = this.hasConsented();
				if (type == 'opt-in' && didConsent) {
					// enable cookies
					loadGAonConsent();
				}
			}
		})
	});
</script>